---
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

const notes = (await getCollection('notes')).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
).filter(note => note.id.toLowerCase() !== 'readme.org');
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<p>All notes</p>
			<section>
				<ul>
					{
						notes.map((note) => (
							<li>
								<p>
									<a href={`/notes/${note.slug}/`}>
										{note.id}
									</a>
								</p>
							</li>
						))
					}
				</ul>
			</section>
		</main>
	</body>
</html>