---
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

const notes = (await getCollection('notes'))
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
	.filter(note => note.id.toLowerCase() !== 'readme.org');
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<article>
				<h1><a href="/">notes</a></h1>
				<p>All my notes, in order.</p>
				<ul>
					{
						notes.map((note) => (
							<li>
								<a href={`/notes/${note.slug}/`}>
									{(() => {
										const id = note.id.startsWith('projects/') ? note.id.slice(9) : note.id;
										return (
											<>
												<span style="color: gray;">{id.slice(0, 4)}-{id.slice(4, 6)}</span>
												{id.includes('__') && id.endsWith('.org') ? (
													<>
														<span>{id.slice(17, id.lastIndexOf('__'))}</span>
														<span style="color: lightblue;">{id.slice(id.lastIndexOf('__') + 2, -4)}</span>
													</>
												) : (
													<span>{id.slice(17, -4)}</span>
												)}
											</>
										);
									})()}
								</a>
							</li>
						))
					}
				</ul>
			</article>
		</main>
	</body>
</html>

<style>
	ul {
		list-style-type: none;
		padding-left: 0;
	}
</style>