---
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import Footer from '../../components/Footer.astro';

const notes = (await getCollection('notes')).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<section>
				<ul>
					{
						notes.map((note) => (
							<li>
								<a href={`/notes/${note.slug}/`}>
									<h4 class="title">{note.data.title}</h4>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>

<style>
a {
	color: inherit;
}
li {
	list-style: armenian;
}
</style>