@import './normalize.css';
@import './headings.css';
@import './org-mode.css';

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('/fonts/UbuntuMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu Mono';
    src: url('/fonts/UbuntuMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu Mono';
    src: url('/fonts/UbuntuMono-Italic.ttf') format('truetype');
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu Mono';
    src: url('/fonts/UbuntuMono-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/**
 * global styles
 */
body {
    max-width: 48em;
    margin: 0 auto;
    padding: 0 1rem;
    font-family: 'Ubuntu Mono';
    line-height: 1.5;
}

/**
 * links
 */
a {
    color: #07A;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
    color: inherit;
}

/**
 * lists
 */
ul, ol {
    margin: auto;
}
ul li p, ol li p {
    margin: auto;
}

/**
 * dark mode
 */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #e0e0e0;
    }
    a {
        color: #a0a0ff;
    }
    /* h1 {
        color: #ffffff;
    }
    h2 {
        color: #8080ff;
    }
    h3 {
        color: #ff4d4d;
    }
    h4 {
        color: #ffa64d;
    }
    h5 {
        color: #e6b800;
    }
    h6 {
        color: #a39480;
    } */
}
