@import './normalize.css';
@import './headings.css';
@import './org-mode.css';
@font-face {
    font-family: 'Noto Sans Mono';
    src: url('/fonts/NotoSansMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans Mono';
    src: url('/fonts/NotoSansMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-display: swap;
}
body {
    /* max-width: 48em; */
    margin: 0 auto;
    padding: 0.5rem 1rem;
    font-family: 'Noto Sans Mono', monospace;
    line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    line-height: 1.2;
}
h1 {
    color: #000000;
}
h2 {
    color: #0000cc;
}
h3 {
    color: #b30000;
}
h4 {
    color: #b35900;
}
h5 {
    color: #806000;
}
h6 {
    color: #5c5242;
}
a {
    color: inherit;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
}
ul, ol {
    margin: auto;
}
ul li p, ol li p {
    margin: auto;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #e0e0e0;
    }
    h1 {
        color: #ffffff;
    }
    h2 {
        color: #8080ff;
    }
    h3 {
        color: #ff4d4d;
    }
    h4 {
        color: #ffa64d;
    }
    h5 {
        color: #e6b800;
    }
    h6 {
        color: #a39480;
    }
}
