.inline-verbatim {
    color: rgb(200, 60, 60);
}
.inline-code {
    color: rgb(60,120,120);
}
.TODO { 
    color: #D80000;
}
.DONE {
    color: #008000;
}
@media (prefers-color-scheme: dark) {
    .inline-verbatim {
        color: #FF9494;
    }
    .inline-code {
        color: #80E5E5;
    }
    .TODO {
        color: #FF6666;
    }
    .DONE {
        color: #66FF66;
    }
}