---
import Layout from '../layouts/NoteLayout.astro';
---

<Layout
	title="About Me"
	description="note, thought, and make"
	date={new Date('September 14 2024')}
>
	<p>
		Details about me.
	</p>
</Layout>
