---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<nav>
				<ul>
					<li><a href="/notes/">Notes</a></li>
					<li><a href="/articles/">Articles</a></li>
					<li><a href="/projects/">Projects</a></li>
				</ul>
			</nav>

			<article>
				<h1><a href="/">{SITE_TITLE}'s Digital Space</a></h1>

				<p>Welcome to my digital sanctuary! I'm Mayphus Tang, an innovator, creator, 
          and lifelong learner whose journey weaves through a tapestry of diverse disciplines and interests. 
          
          My path is illuminated by an insatiable curiosity and a profound desire to comprehend the intricacies of the world around me.
          I strive to cultivate a unique perspective that harmonizes technology, nature, and human knowledge.</p>

				<p>As a passionate technologist, I revel in the exploration of the vast possibilities that innovation offers.
          My journey frequently leads me to engage with a myriad of technologies, 
          from the realms of artificial intelligence to the complexities of distributed systems, 
          
          all while focusing on crafting solutions that foster connection and understanding.
          My curiosity knows no bounds, extending into the rich landscapes beyond the digital frontier.</p>

				<p>Nature, in all its splendor, has been one of my most profound teachers.
          Whether I'm traversing mountain trails or marveling at the intricate patterns etched in a leaf, 
          I find boundless inspiration in the natural world. 
          
          This deep connection to nature profoundly influences my approach to problem-solving and innovation, 
          reminding me that the most elegant solutions often reflect the harmonious patterns found in the environment.</p>

				<p>Knowledge, in its myriad forms, propels me forward. 
          I firmly believe in the transformative power of continuous learning and the vital importance of sharing our insights with others. 

          This space embodies my commitment to both personal growth and collective wisdom,
          serving as a vibrant platform where ideas can flourish and inspire.</p>

				<p>This website is more than just a collection of thoughts; it is a digital canvas where I nurture my ideas, projects, and reflections.
          It is a space for me to share my journey, insights, and creations with the world. 
          
          Here, you will discover a rich tapestry of content that reflects my passions and pursuits.</p>

        <h2>Current Projects</h2>
        <ul>
          <li><a href="/projects/">.emacs.d</a> - My Emacs configuration and custom lisp codes</li>
          <li><a href="/projects/">mayphus.org</a> - This website you are looking at now</li>
          <li><a href="/projects/">api.mayphus.org</a> - My API playground</li>
          <li><a href="/projects/">console.mayphus.org</a> - My console playground</li>
        </ul>
			</article>
		</main>
		<footer>
      <p>by Mayphus,
        last updated on
        {new Date().toLocaleDateString('en-US', { day: '2-digit', month: 'short', year: 'numeric' })}</p>
		</footer>
	</body>
</html>

<style>
  nav {
    padding-top: 1rem;
  }
  nav ul {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  nav a {
    text-decoration: none;
  }
  nav a:hover {
    color: white;
  }
</style>
