---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<!-- <h1>Felix Murray Tang</h1> -->
			<p>
				Hi, I'm Felix Murray Tang.

				I working on many things.

				<ul>
					<li>
						Software
					</li>
					<li>
						Electronics
					</li>
					<li>
						Hardware
					</li>
				</ul>

				I place my notes, blogs and my projects docs here.
			</p>
		</main>
		<Footer />
	</body>
</html>
