---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';

const collection = (await getCollection('notes'))
	.sort((a: any, b: any) => b.data.date.valueOf() - a.data.date.valueOf())
	.filter((note: any) => note.id.toLowerCase() !== 'readme.org');

const projects = collection.filter((note: any) => note.data.filetags?.includes('project'));
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<article>
				<h1><a href="/">Projects</a></h1>
				<p>Here are my projects, I mainly focus on making some creative, minimal, perfectistic things.</p>
				<ol reversed>
					{
						projects.map((note: any) => (
							<li>
								<p>
									<span class="title" style="margin: 0 0 0.5em 0; padding: 0; line-height: 1.2;">
										<a href={`/node/${note.slug}/`}>
											{note.data.title}
										</a>
									</span>
								</p>
							</li>
						))
					}
				</ol>
			</article>
		</main>
	</body>
</html>

<style>
	ol {
		list-style: decimal-leading-zero;
		padding-left: 2.4em;
	}
	ol li::marker {
		color: #555;
	}
	p {
		line-height: 1.5;
	}
	p a {
		border-bottom: none;
	}
	p a:hover {
		border-bottom: 1px solid #e0e0e0;
	}
</style>
