---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';

const collection = await getCollection('content');
const nodes = collection
	.filter((node) => node.data && node.data.filetags?.includes('project'))
    .sort((a, b) => {
        const dateA = a.data.date?.valueOf() || 0;
        const dateB = b.data.date?.valueOf() || 0;
        return dateB - dateA;
    });
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<article>
				<h1><a href="/">Projects</a></h1>
				<ul>
					{
						nodes.map((node) => (
							<li>
								<p>
									<span class="date" style="color: #666; font-size: 0.9em; margin-right: .6em; font-family: monospace;">
										{(() => {
											const currentDate = node.data.date?.toLocaleDateString('en-US', {
												month: 'short',
												year: 'numeric',
											});
											const prevNode = nodes[nodes.indexOf(node) - 1];
											const prevDate = prevNode?.data.date?.toLocaleDateString('en-US', {
												month: 'short',
												year: 'numeric',
											});
											if (currentDate !== prevDate) {
												return currentDate;
											} else {
												return '\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0';
											}
										})()}
									</span>
									<span class="title" style="margin: 0 0 0.5em 0; padding: 0; line-height: 1.2;">
										<a href={`/notes/${node.data.slug}/`}>
											{node.data.title}
										</a>
									</span>
								</p>
							</li>
						))
					}
				</ul>
			</article>
		</main>
	</body>
</html>

<style>
	ul {
		list-style: none;
		padding-left: 0;
	}
	p a {
		text-decoration: none;
		color: inherit;
	}
	article {
		margin-bottom: 1em;
	}
</style> 