<footer>
	<a href="/">home</a>
    <span>&middot;</span>
    <a href="/notes">notes</a>
</footer>

<style>
	footer {
        color: gray;
        text-align: center;
        margin-bottom: 0.8rem;
	}
</style>
