<footer class="paper-footer">
  <nav aria-label="External links" class="paper-footer__nav">
    <a
      class="paper-footer__link"
      href="https://github.com/mayphus"
      target="_blank"
      rel="noopener noreferrer"
    >
      GitHub
    </a>
    <a
      class="paper-footer__link"
      href="https://youtube.com/@mayphustang"
      target="_blank"
      rel="noopener noreferrer"
    >
      YouTube
    </a>
    <a
      class="paper-footer__link"
      href="https://www.pinterest.com/mayphustang"
      target="_blank"
      rel="noopener noreferrer"
    >
      Pinterest
    </a>
    <a class="paper-footer__link" href="mailto:tangmeifa@gmail.com">Email</a>
  </nav>
</footer>
