<footer>
	<a href="/">home</a>
    <span>&middot;</span>
    <a href="/notes">notes</a>
</footer>

<style>
	footer {
		margin-left: 1em;
        color: gray;
        font-style: italic;
        text-align: center;
	}
</style>
