<footer>
  <div class="footer-nav">
    <a href="/tags/">Tags</a>
  </div>
  <p>Contact & Links:</p>
  <div class="contact-links">
    <a href="https://github.com/mayphus" target="_blank">GitHub</a>
    <a href="https://youtube.com/@mayphustang" target="_blank">YouTube</a>
    <a href="https://www.pinterest.com/mayphustang" target="_blank">Pinterest</a>
    <a href="mailto:tangmeifa@gmail.com">Email</a>
  </div>
</footer>