---
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

const collection = (await getCollection('notes'))
	.sort((a: any, b: any) => b.data.date.valueOf() - a.data.date.valueOf())
	.filter((note: any) => note.id.toLowerCase() !== 'readme.org');

const projects = collection.filter((note: any) => note.data.filetags?.includes('project'));
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<article>
				<h1><a href="/">Projects</a></h1>
				<p>Here are my projects, I mainly focus on making some creative, minimal, perfectistic things.</p>
				<ul>
					{
						projects.map((note: any) => (
							<li>
								<p>
									<span class="date" style="color: gray; font-size: 0.8em;">
										{note.data.date.toLocaleDateString('en-US', {
											month: 'short',
											year: 'numeric',
										})}
									</span>
									<span class="title" style="margin: 0 0 0.5em 0; padding: 0; line-height: 1.2;">
										<a href={`/notes/${note.slug}/`}>
											{note.data.title}
										</a>
									</span>
								</p>
							</li>
						))
					}
				</ul>
			</article>
		</main>
	</body>
</html>

<style>
	ul {
		list-style: none;
		padding-left: 0;
	}
	p {
		line-height: 1.5;
	}
	p a, h2 a {
		border-bottom: none;
	}
	p a:hover, h2 a:hover {
		border-bottom: 1px solid lightgray;
	}
</style>
