---
import BaseHead from '../../components/BaseHead.astro';
import SiteHeader from '../../components/SiteHeader.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

const collection = await getCollection('content');
const nodes = collection
  .filter(node => node.data)
  .sort((a, b) => (b.data.date?.valueOf() ?? 0) - (a.data.date?.valueOf() ?? 0));
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`Content - ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <SiteHeader />
    <main id="main">
      <article>
        <h1>Content</h1>
        <ul id="items">
          {nodes.map(node => (
            <li>
              <a href={`/content/${node.data.slug}/`}>
                {node.data.title}
              </a>
            </li>
          ))}
        </ul>
      </article>
    </main>
    <Footer />
  </body>
</html>
