---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import SiteHeader from '../components/SiteHeader.astro';
import Footer from '../components/Footer.astro';

type Props = CollectionEntry<'content'>['data'] & {
  children?: any;
};

const { title = 'Untitled' } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description="mayphus tang's digital workshop" />
  </head>

  <body class="font-mono">
    <SiteHeader />
    <main id="main" class="org-content">
      <h1>{title}</h1>
      <slot />
      <Footer />
    </main>
  </body>
</html>
