---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';

type Props = CollectionEntry<'content'>['data'] & {
  children?: any;
};

const { title = 'Untitled', date } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description="mayphus tang's digital workshop" />
  </head>

  <body>
    <main id="main">
      <article>
        <h1>
          <a href="/">{title}</a>
        </h1>
        {date && (
          <p>
            #+date: {date.toISOString().split('T')[0]}
          </p>
        )}
        <slot />
      </article>
    </main>
  </body>
</html>
