---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';

type Props = CollectionEntry<'notes'>['data'];

const { title, date } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description="felix murray tang's notes" />
	</head>

	<body>
		<main>
			<article>
				<h1><a href="/notes/">{title}</a></h1>
				{date && (
					<time style="color: #555; font-size: 0.9em;">
						{new Date(date).toLocaleDateString('en-US', {
							year: 'numeric',
							month: 'long',
							day: 'numeric'
						})}
					</time>
				)}
				<slot />
			</article>
		</main>
	</body>
</html>
